.wpgmza_row {
    width:100%;
    display:block;
    overflow:auto;
}
.wpgmza_row_col {
    width:90%;
    float:left;
    display:block;
    overflow:auto;
    margin:0.25%;
    padding:0.2%;
    min-height:360px;
}
.wpgmza_row_col h2 { 
    font-weight:900;
}
.wpgmza_row_col ul li {
	margin: 0.3em 2.5em;
}

.wpgmza_row_col ul {
	list-style-type:disc;
}

.wpgmza-cluster-icon-reset:active {
  vertical-align: inherit !important;
}
.wpgmza-cluster-icon-reset:active {
  vertical-align: inherit !important;
}
.wpgmza-cluster-icon-change:active {
 vertical-align: inherit !important; 
}

.wpgmza_approve_btn{
   color:#00ff00 !important;
}
 
.wpgmza_del_btn{
   color:#ff0000 !important;
}

.wpgmza_cat_checkbox_holder ul:first-child {
    margin-left: 0;
}
.wpgmza_cat_checkbox_holder ul {
    margin-left: 10px;
}
.wpgmza_cat_checkbox_item_holder {
  margin-bottom:2px;
}

.wpgmza_cat_checkbox_holder {
    display: block;
    overflow: auto;
    max-height: 200px;
    overflow-y: scroll;
    
}
@media only screen and (min-width:480px) {
   .wpgmza_row_col {
        width:31%;
        float:left;
        display:block;
        overflow:auto;
        margin:0.25%;
        padding:0.2%;
        min-height:360px;
    } 
    
    
}

.wpgmza_mlist_selection { cursor: pointer;}

.wpgmza_mlist_selection_activate { 
    /* padding: 10px; */
    border-radius: 4px;

    border-left: 4px solid #0073AA;

}


.ui-tabs-nav li {
    display: inline-block;
}

.ui-widget-header {
    background: transparent !important;
    border-style: none !important;
}

.ui-corner-all {
    border-style: none;
    border-radius: 0px ;
}

.ui-tabs-active {
    background: #0073AA !important;
}

.ui-tabs-active a {
    color:white !important;
}

.ui-state-default{
    background: #E8E8E8;
    
    padding-top: 10px;
    padding-bottom: 10px;
    
    transition: background 0.2s;
    -webkit-transition: background 0.2s;
    -moz-transition: background 0.2s;
    -o-transition: background 0.2s;
}

.ui-state-default a{
    text-decoration: none;
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 25px;
    padding-right: 25px;
}

.ui-tabs-panel {
    background: white;
    margin-top: -19px !important;
    padding: 13px;
}

.ui-slider {
    position: relative;
    text-align: left;
    background: #E8E8E8;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    cursor: default;
    background: #0073AA;
    border-radius: 10px;
    padding: 9px !important;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
}

.ui-slider-horizontal {
    height: .8em;
}
.ui-slider-horizontal .ui-slider-handle {
    top: -.3em;
    margin-left: -.6em;
}
.ui-slider-horizontal .ui-slider-range {
    top: 0;
    height: 100%;
}
.ui-slider-horizontal .ui-slider-range-min {
    left: 0;
}
.ui-slider-horizontal .ui-slider-range-max {
    right: 0;
}

.ui-slider-vertical {
    width: .8em;
    height: 100px;
}
.ui-slider-vertical .ui-slider-handle {
    left: -.3em;
    margin-left: 0;
    margin-bottom: -.6em;
}
.ui-slider-vertical .ui-slider-range {
    left: 0;
    width: 100%;
}
.ui-slider-vertical .ui-slider-range-min {
    bottom: 0;
}
.ui-slider-vertical .ui-slider-range-max {
    top: 0;
}

/** Toggles from - http://callmenick.com/ */

.cmn-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.cmn-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


input.cmn-toggle-round-flat + label {
    padding: 0px;
    width: 26px;
    height: 17px;
    background-color: #dddddd;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    -webkit-transition: background 0.4s;
    -moz-transition: background 0.4s;
    -o-transition: background 0.4s;
    transition: background 0.4s;
}

input.cmn-toggle-round-flat + label:before, input.cmn-toggle-round-flat + label:after {
  display: block;
  position: absolute;
  content: "";
}
input.cmn-toggle-round-flat + label:before {
  top: 2px;
  left: 2px;
  bottom: 2px;
  right: 2px;
  background-color: #fff;
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
  -webkit-transition: background 0.4s;
  -moz-transition: background 0.4s;
  -o-transition: background 0.4s;
  transition: background 0.4s;
}
input.cmn-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 9px;
    background-color: #dddddd;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    border-radius: 6px;
    -webkit-transition: margin 0.4s, background 0.4s;
    -moz-transition: margin 0.4s, background 0.4s;
    -o-transition: margin 0.4s, background 0.4s;
    transition: margin 0.4s, background 0.4s;
}
input.cmn-toggle-round-flat:checked + label {
  background-color: #0073AA;
}
input.cmn-toggle-round-flat:checked + label:after {
    margin-left: 8px;
    background-color: #0073AA;
}

input.cmn-toggle-yes-no + label {
    padding: 2px;
    width: 33px;
    height: 18px;
    position: relative;
    top: 1px;
}

input.cmn-toggle-yes-no + label:before, input.cmn-toggle-yes-no + label:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #fff;
    font-family: sans-serif;
    font-size: 13px;
    text-align: center;
    line-height: 24px;
}
input.cmn-toggle-yes-no + label:before {
  background-color: #dddddd;
  color: black !important;
  content: attr(data-off);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no + label:after {
  background-color: #0073AA;
  content: attr(data-on);
  -webkit-transition: -webkit-transform 0.5s;
  -moz-transition: -moz-transform 0.5s;
  -o-transition: -o-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}
input.cmn-toggle-yes-no:checked + label:before {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -ms-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
input.cmn-toggle-yes-no:checked + label:after {
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-transform: rotateY(0);
  transform: rotateY(0);
}

.switch {
    display: inline-block;
    margin-right: 5px;
    top: 3px;
    position: relative;
}

.update-blue{
    border-left: 4px solid #0073AA;
}

.button-primary {
    border-radius: 0px !important;
    border-style: none !important;
    background-color: #0073AA !important;
}

.button-seconday{
    border-radius: 0px !important;
    border-style: none !important;
}

.grey-out{
    opacity:0.5;
}

.cmn-override-big{
    width: 50px !important;
    height: 28px !important;
}

.cmn-override-big-wide{
    width: 100px !important;
    height: 28px !important;
}

.cmn-override-big:after, .cmn-override-big:before, .cmn-override-big-wide:after, .cmn-override-big-wide:before{
    line-height: 34px !important;
}

#wpgmza_marker_holder #wpgmza_table {
    background-color: white;
    padding: 10px;
}
#wpgmza_add_pic { width: 80%;}
#wpgmaps_tabs_markers table { width: 100%;}
#wpgmza_tmp { padding:2px; margin:3px; border:1px solid #0085ba; color:#0085ba; }

#wpgmza_marker_holder #wpgmza_table_filter {
    float: right;
}

#wpgmza_marker_holder #wpgmza_table_length {
    float: left;
}

.wpgmza-promo {
    border: 4px solid white;
    box-shadow: 1px 1px 5px #ABABAB;
    -webkit-box-shadow: 1px 1px 5px #ABABAB;
    -moz-box-shadow: 1px 1px 5px #ABABAB;
}

.wpgmza-promo .wpgmza-promo-overlay{
  opacity:0;
  transition: opacity 0.4s;
  -webkit-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
}

.wpgmza-promo:hover .wpgmza-promo-overlay{
  opacity:1;
}


.wpgmza-promo-overlay {
    background: #E8E8E8;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
    padding: 10px;
}

.wpgmza-promo-overlay h4, .wpgmza-promo-overlay p {
    margin: 0px !Important;
}

.about-wrap {
    margin-top: -20px !important;
}

.paginate_button {
    background: white;
    margin-right: 5px;
    padding: 5px;
    position: relative;
    top: 8px;
    cursor: pointer;
}

.paginate_button:hover {
  background: #0073AA;
  color: white;
}

#wpgmza_table_info {
    padding: 7px;
}

.update-nag h4{
  margin:0px !important;
}

.update-slim{
  margin-top: 0px !important;
  line-height: 15px !important;
}

.update-att{
   border: 1px solid #ffba00;
}

.update-map-overlay {
    position: absolute;
    margin-top: -103px !important;
    margin-left: 5px;
}

.wpgmza-listing, .wpgmza-listing th span {
    padding: 7px;
}

.wpgmza-listing{
  border: 4px solid white !important;
}

.wpgmza-listing-comp {
    border: 4px solid white !important;
    background: white;
    margin-bottom: 5px;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
    -moz-ox-shadow: 0 1px 1px 0 rgba(0,0,0,.1);
}

.wpgmza-listing-wizard{
  width: 23%;
  margin-right:2px;
  display: inline-block;
  height: 300px;
  vertical-align: top;
}

.wpgmza_map_seventy{
  width:69% !important;
  float:left;
  margin-left: 1%;
}


.sola_t_hide_input{
    display:none !important;
}

.wpgmza_file_select_btn {
    background: #0073AA;
    width: 116px;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: center;
}

a.wpgmza_file_select_btn {
    text-decoration: none !important;
}

a.wpgmza_file_select_btn:hover {
    color: white !important;
}

.wpgmza_general_btn{
    border-style: none;
    background: #0073AA;
    width: 116px;
    color: white;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    cursor: pointer;
}

.wpgmza_createmap_btn {
  margin-left: 1% !important;
  width: 98%;
  display: block;
  background: #0073AA;
  color: white;
  padding: 10px;
  font-size: 14px;
  text-align: center;
  border-style: none;
}


.wpmgza-listing-1-icon{
  text-align:center; 
  font-size: 120px; 
  height: 250px; 
  line-height: 225px;
}

.wpgmza-listing-wizard-2{
  position: relative;
  height:100%;
}


@media screen and (max-width: 1300px) {
    .wpmgza-listing-1-icon{ 
      font-size: 90px; 
    }
}

@media screen and (max-width: 1024px) {
    .wpmgza-listing-1-icon{ 
      font-size: 80px; 
    }

    .wpgmza-listing-wizard{
      width: 47%;
    }
}

@media screen and (max-width: 450px) {
    .wpgmza-listing-wizard{
      width: 97%;
    }
}

#wpmgza_unsave_notice{
  font-size: 11px !important;
  padding: 5px;
  top: -3px!important;
  position: relative;
}

